html, body, #root {
  height: 100%;
  background: #f0ebeb;
}

h1 {
  color: #FDFFFC;
}

h2 {
  margin-left: 2.3rem;
  color: #F2BDCD;
  font-weight: 800;
  font-size: 1.7rem;
}

.title {
  margin-top: 0;
}