.modal-overlay {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: modal-bg-show .3s;
}

.modal {
  background: #FDFFFC;
  border-radius: .15rem;
  padding: 1.2rem;
  position: relative;
  height: 24rem;
  width: 23rem;
  animation: modal-show .3s;
}

.modal-close {
  width: 5rem;
  position: absolute;
  right: 3.3rem;
  top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: .25rem;
  border: none;
  color: #FDFFFC;
  background: #F2BDCD;
}

.modal-close:hover {
  background: #011627;
  transition: all .5s;
}

/* animation */
@keyframes modal-show {
  from {
      opacity: 0;
      margin-top: -50px;
  }
  to {
      opacity: 1;
      margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}