.header-area
  margin-bottom: 2.5rem
  padding: $defaultSize
  background: $mainColor
  justify-content: center
  text-align: center

.modal-button
  width: 130px
  height: 32px
  margin: .5rem
  top: $defaultSize
  right: 13rem
  border: none
  border-radius: .25rem
  color: $mainColor
  background: $subColor
  position: absolute
  font-weight: bold
  font-size: $defaultSize

  &:hover
    background: $hover-bg
    color: $hover-cl
    transition: all .5s


