.form
  margin-bottom: $defaultSize
  text-align: center

  > input
    padding: .5rem
    width: 18rem
    height: 1.75rem
    border-radius: .25rem
    border: $defaultBorder
    background: $inputColor

.form-message
  margin-bottom: .5rem

  > textarea
    padding: .5rem
    width: 18rem
    height: 1.75rem
    border-radius: .25rem
    border: $defaultBorder
    background: $inputColor
    resize: $defaultBorder
    height: 3rem

.submit-button
  margin-top: .5rem
  margin-left: 2.2rem
  width: 81%
  height: 2rem
  font-size: $defaultSize
  border: $defaultBorder
  border-radius: .25rem
  color: $subColor
  background: $mainColor
  cursor: pointer

  &:hover
    transition: all .5s
    background: #011627

.error-area
  text-align: center
  color: red