.form {
  margin-bottom: 1rem;
  text-align: center;
}

.form > input, textarea {
  padding: .3rem;
  width: 18rem;
  height: 1.75rem;
  border-radius: .25rem;
  border: none;
  background: #ede7e6;
}

.form-message {
  margin-bottom: .5rem;
}

.form-message > textarea {
  resize: none;
  height: 3rem;
}

.submit-button {
  margin-left: 2.2rem;
  width: 81%;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: .25rem;
  color: #fff;
  background: #000;
}